{%include 'base.html'%}
{%block content%}
<!-- Card -->
<div class="card testimonial-card">

  <!-- Background color -->
  <div class="card-up indigo lighten-1"></div>

  <!-- Avatar -->
  <div class="avatar mx-auto white">
    <img src="{{profile.profile_pic.url}}" class="rounded-circle img-fluid img-responsive img-thumbnail"
      alt="woman avatar">
  </div>

  <!-- Content -->
  <div class="card-body">
    <!-- Name -->
    <h4 class="card-title">{{user.username}}</h4>
    <hr>
    <!-- Quotation -->
    <p><i class="fas fa-quote-left"></i> {{profile.Bio}}
    </p>
  </div>

</div>
<!-- Card -->
{%endblock%}