{%include 'base.html'%}
{%load bootstrap4%}
{%block content%}
<!-- Card -->
<div class="container">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay">
          <img class="card-img-top" src="{{ project.image.url}}"
            alt="Card image cap">
          <a href="#!">
            <div class="mask rgba-white-slight"></div>
          </a>
        </div>
      
        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">
      
          <!-- Title -->
          <h4 class="card-title"><strong>{{project.title}}</strong></h4>
          <!-- Subtitle -->
          <a href="{{project.project_link}}"><h6 class="font-weight-bold indigo-text py-2">Project Link: {{project.project_link}}</h6></a> 
          <!-- Text -->
          <p class="card-text">Description: {{project.description}} </p>
      

          <!-- review -->
          <h4>Rate this Project</h4>
          <div class="media-body text-center text-md-left ml-md-3 ml-0">
            <h5 class="mt-0 font-weight-bold blue-text mb-3">{{review.user}}</h5>
            <form method="POST" role="form" action="{% url 'review' project.id %}">
              {%csrf_token%}
              <div>
                <label for="comment">Review</label>
                <textarea name="comment" id="comment" class="form-control" cols="30" rows="5"></textarea>

                <label for="design">Design</label>
                <input type="text" class="form-control" >

                <label for="usability">Usability</label>
                <input type="text" class="form-control" >

                <label for="content">Content</label>
                <input type="text" class="form-control" >
        
                <button name="action" type="submit" class="btn btn-outline-default">Post</button>
              </div>
            </form>
           
          </div>
      
        
      
        </div>
      
      </div>
    </div>
    <div class="col-md-3">
      {% for review in reviews%}
  <div class="media d-block d-md-flex mt-3">
    <a class="d-flex pr-3" href="#">
      <img class="d-flex mr-3 img-fluid rounded-circle  profile-image" src="{{review.user.profile.profile_pic.url}}" alt="Generic placeholder image">
    </a>
    <div class="media-body text-md-left">
      <h5 class="mt-0 font-weight-bold card-text">{{review.user}}</h5>
      <p>{{review.review}}</p>
    </div>
  </div>
  {%endfor%}
    </div>
  </div>
</div>

<!-- Card -->
{%endblock%}